@model IEnumerable<ASCO.Models.Machinery>

@{
    ViewBag.Title = "ListMachineries";
}

<h2 style="margin-top: 10px;">List of Machineries</h2>

<style>
    .table-hover tbody tr:hover {
        background-color: #b8dfe8;
    }
    .btn-custom {
        background-color: #20b01e;
    }

        .btn-custom:hover {
            background-color: #27ce25;
        }
</style>
<p style="margin-top: 20px;">
    @Html.ActionLink("Add New", "ListMachineriesCreate", null, new { @class = "btn btn-custom" })
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.machinery_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.machine_manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.machinery_quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.machinery_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.machine_manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.machinery_quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "ListMachineriesEdit", new { id = item.machinery_id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "ListMachineriesDelete", new { id = item.machinery_id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Main Page", "AdminPage", null, new { @class = "btn btn-primary" })
</div>