@model ASCO.Models.Machinery

@{
    ViewBag.Title = "ListMachineriesCreate";
}

<h2>ListMachineries Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Machinery</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.machinery_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.machinery_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.machinery_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.machine_manufacturer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.machine_manufacturer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.machine_manufacturer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.machinery_quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.machinery_quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.machinery_quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-custom" />
            </div>
        </div>
    </div>
    <style>
        .btn-custom {
            background-color: #4CAF50; /* Green background */
            border: 2px solid #4CAF50; /* Green border */
            color: white; /* White text */
            padding: 10px 20px; /* Padding */
            text-align: center; /* Centered text */
            text-decoration: none; /* No underline */
            display: inline-block; /* Inline block */
            font-size: 16px; /* Large font size */
            margin: 4px 2px; /* Some margin */
            cursor: pointer; /* Pointer/hand icon */
            border-radius: 8px; /* Rounded corners */
            margin-top: 10px;
        }

            .btn-custom:hover {
                background-color: white; /* White background */
                color: #4CAF50; /* Green text */
                border: 2px solid #4CAF50; /* Green border */
            }
    </style>
}

<div style="margin-top: 20px;">
    @Html.ActionLink("Back to List", "ListMachineries", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@if (TempData["Message"] != null)
{
    <script>
        alert("@TempData["Message"]");
    </script>
}
