
@model ASCO.Models.LoanRequestViewModel

@{
    ViewBag.Title = "RequestLoan";
}

<h2>RequestLoan</h2>


@using (Html.BeginForm("RequestLoan", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.farmer_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.farmer_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.farmer_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Select Loan Amount:</label><br />
        <input type="radio" name="SelectedLoanAmount" id="LoanAmount10000" value="10000" /> $10,000<br />
        <input type="radio" name="SelectedLoanAmount" id="LoanAmount15000" value="15000" /> $15,000<br />
        <input type="radio" name="SelectedLoanAmount" id="LoanAmount20000" value="20000" /> $20,000<br />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

<div style="margin-top: 20px;">
    @Html.ActionLink("Back to Main Page", "UserPage", null, new { @class = "btn btn-primary" })
</div>

@if (TempData["Message"] != null)
{
    <script>
        alert("@TempData["Message"]");
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
