
@model List<ASCO.Models.Loan>

@{
    ViewBag.Title = "Your Loan Request";
}

<h2 style="margin-bottom: 20px; margin-top: 5px; ">Your Loan Request</h2>

<table class="table">
    <thead>
        <tr>
            <th>Loan ID</th>
            <th>Loan Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model)
        {
            <tr>
                <td>@loan.loan_id</td>
                <td>@loan.loan_amount</td>
                <td>@loan.status</td>
            </tr>
        }
    </tbody>
</table>


<div style="margin-top: 25px;">
    @Html.ActionLink("Back to Main Page", "UserPage", null, new { @class = "btn btn-primary" })
</div>

@if (TempData["Message"] != null)
{
    <script>
        alert("@TempData["Message"]");
    </script>
}